target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
# Compiled class file
*.class

# Log file
*.log

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/.gradle/8.7/checksums/checksums.lock
/.gradle/8.7/checksums/md5-checksums.bin
/.gradle/8.7/checksums/sha1-checksums.bin
/.gradle/8.7/dependencies-accessors/gc.properties
/.gradle/8.7/executionHistory/executionHistory.bin
/.gradle/8.7/executionHistory/executionHistory.lock
/.gradle/8.7/expanded/expanded.lock
/.gradle/8.7/fileChanges/last-build.bin
/.gradle/8.7/fileHashes/fileHashes.bin
/.gradle/8.7/fileHashes/fileHashes.lock
/.gradle/8.7/fileHashes/resourceHashesCache.bin
/.gradle/8.7/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/libs/reactive-stock-market-0.0.1-SNAPSHOT.jar
/build/libs/reactive-stock-market-0.0.1-SNAPSHOT-plain.jar
/build/reports/tests/test/classes/com.zapata.reactivestockmarket.integration.IntegrationTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/com.zapata.reactivestockmarket.integration.html
/build/reports/tests/test/index.html
/build/resources/main/application.properties
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-com.zapata.reactivestockmarket.integration.IntegrationTest.xml
/build/tmp/bootJar/MANIFEST.MF
/build/tmp/compileJava/compileTransaction/stash-dir/MarketController.class.uniqueId0
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/compileTransaction/stash-dir/IntegrationTest.class.uniqueId0
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/tmp/jar/MANIFEST.MF
/build/resolvedMainClassName
